<h2><%= @user.name %>'s Weekly Stats</h2>

<p>Here are your weekly click stats:</p>
<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Clicks</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.long_url %></td>
        <td><%= link.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
